$ORIGIN .
$TTL 300        ; 5 minutes
zynthovian.xyz          IN SOA  ns.zynthovian.xyz. elliana.perry.gmail.com. (
                                2023060878 ; serial
                                300        ; refresh (5 minutes)
                                3600       ; retry (1 hour)
                                604800     ; expire (1 week)
                                300        ; minimum (5 minutes)
                                )
                        NS      ns.zynthovian.xyz.
$ORIGIN zynthovian.xyz.
$TTL 300        ; 5 minutes
ingress                 A       172.21.0.1
ns                      A       172.22.0.1
                        A       172.22.1.1
amd64-server-7f97c6     A       172.22.0.11
amd64-server-a2e7bb     A       172.22.0.12
amd64-server-b5915c     A       172.22.0.10
xenia                   A       172.22.0.20
minio                   A       172.22.0.20
nftfw-a                 A       172.22.0.120
                        A       172.22.1.120
nftfw-b                 A       172.22.0.121
                        A       172.22.1.121
$ORIGIN int.zynthovian.xyz.
$TTL 300        ; 5 minutes
ingress                 A       172.21.0.1
ns                      A       172.22.0.1
                        A       172.22.1.1
amd64-server-7f97c6     A       172.22.0.11
amd64-server-a2e7bb     A       172.22.0.12
amd64-server-b5915c     A       172.22.0.10
xenia                   A       172.22.0.20
minio                   A       172.22.0.20
nftfw-a                 A       172.22.0.120
                        A       172.22.1.120
nftfw-b                 A       172.22.0.121
                        A       172.22.1.121
